div.contacts-board
    div.dash-text.dash-text.dash-text--h3 Контакты
    ul.contacts-list
        li.contacts-item
            a.contacts-link(href="skype:maxim_rudik?call")
                i.fa.fa-skype
                |maxim_rudik 
        li.contacts-item
            a.contacts-link(href="mailto:mvr1976@gmail.com")
                i.fa.fa-envelope
                |mvr1976@gmail.com 
        li.contacts-item
            a.contacts-link(href="skype:+79284001503?call")
                i.fa.fa-phone
                |+7-928-400-15-03
        li.contacts-item
            a.contacts-link(href="https://google.com")
                i.fa.fa-map-marker
                |г.Геленджик, мкр. Голубая Бухта
//- div.aboutContacts
//-                 h4 Контакты
//-                 ul.aboutContactsList
//-                     li.about-item
//-                         a.about-link(href="skype:maxim_rudik?call")
//-                             i.fa.fa-skype
//-                             |maxim_rudik 
//-                     li.about-item
//-                         a.about-link(href="mailto:mvr1976@gmail.com")
//-                             i.fa.fa-envelope
//-                             |mvr1976@gmail.com 
//-                     li.about-item
//-                         a.about-link(href="skype:+79284001503?call")
//-                             i.fa.fa-phone
//-                             |+7-928-400-15-03
//-                     li.about-item
//-                         a.about-link(href="https://google.com")
//-                             i.fa.fa-map-marker
//-                             |г.Геленджик, мкр. Голубая Бухта