div.about-text__skills
    div.skills-title frontend
    ul.skills-list 
        li.skills-item 
            div.skill-name html-5
            svg.common_circle(width="120" height="120")
                circle(r="50" cx="60" cy="60" stroke="#dfdcd5" fill="none")
                circle.sector.sector-html(r="50" cx="60" cy="60" stroke="#10c1a8" transform="rotate(-90 60 60)")    
        li.skills-item 
            div.skill-name css-3
            svg.common_circle(width="120" height="120")
                                circle(r="50" cx="60" cy="60" stroke="#dfdcd5" fill="none")
                                circle.sector.sector-css(r="50" cx="60" cy="60" stroke="#10c1a8" transform="rotate(-90 60 60)")   
        li.skills-item
            div.skill-name javascript & jquery
            svg.common_circle(width="120" height="120")
                circle(r="50" cx="60" cy="60" stroke="#dfdcd5" fill="none")
                circle.sector.sector-js(r="50" cx="60" cy="60" stroke="#10c1a8" transform="rotate(-90 60 60)")
    div.skills-title backend
    ul.skills-list 
        li.skills-item 
            div.skill-name php
            svg.common_circle(width="120" height="120")
                circle(r="50" cx="60" cy="60" stroke="#dfdcd5" fill="none")
                circle.sector.sector-php(r="50" cx="60" cy="60" stroke="#10c1a8" transform="rotate(-90 60 60)")
        li.skills-item 
            div.skill-name mysql
            svg.common_circle(width="120" height="120")
                circle(r="50" cx="60" cy="60" stroke="#dfdcd5" fill="none")
                circle.sector.sector-mysql(r="50" cx="60" cy="60" stroke="#10c1a8" transform="rotate(-90 60 60)")
        li.skills-item 
            div.skill-name nodejs & npm
            svg.common_circle(width="120" height="120")
                                            circle(r="50" cx="60" cy="60" stroke="#dfdcd5" fill="none")
                                            circle.sector.sector-node(r="50" cx="60" cy="60" stroke="#10c1a8" transform="rotate(-90 60 60)")
        li.skills-item
            div.skill-name mongdb
            svg.common_circle(width="120" height="120")
                circle(r="50" cx="60" cy="60" stroke="#dfdcd5" fill="none")
                circle.sector.sector-mongo(r="50" cx="60" cy="60" stroke="#10c1a8" transform="rotate(-90 60 60)")
    div.skills-title workflow
    ul.skills-list
        li.skills-item
            div.skill-name git
            svg.common_circle(width="120" height="120")
                circle(r="50" cx="60" cy="60" stroke="#dfdcd5" fill="none")
                circle.sector.sector-git(r="50" cx="60" cy="60" stroke="#10c1a8" transform="rotate(-90 60 60)") 
        li.skills-item
            div.skill-name gulp
            svg.common_circle(width="120" height="120")
                circle(r="50" cx="60" cy="60" stroke="#dfdcd5" fill="none")
                circle.sector.sector-gulp(r="50" cx="60" cy="60" stroke="#10c1a8" transform="rotate(-90 60 60)")
        li.skills-item
            div.skill-name bower
            svg.common_circle(width="120" height="120")
                circle(r="50" cx="60" cy="60" stroke="#dfdcd5" fill="none")
                circle.sector.sector-bower(r="50" cx="60" cy="60" stroke="#10c1a8" transform="rotate(-90 60 60)")