div.modal-win-wrapper
    nav.modal-nav
        ul.modal-nav-list
            li.modal-nav-item
                a.modal-nav-link(href="works.html") Мои работы
            li.modal-nav-item
                a.modal-nav-link(href="about-me.html") Обо мне
            li.modal-nav-item
                a.modal-nav-link(href="blog.html") Блог
            li.modal-nav-item
                a.modal-nav-link(href="index.html") Авторизация
    div.green-curtain.green-curtain-left
    div.green-curtain.green-curtain-right
    div.close-button