
.avatar-block{
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	@clearfix()
}
.avatar-block__img{
	display: block;
	width: 141px;
	height: 141px;
	margin: 0 auto;
	margin-top: 20px;
	border-radius: 50%;
	background-color: rgba(255,255,255,.4);
}
.avater-block__name{
	margin: 0 auto;
	margin-top: 20px;
	text-align:center;
	color: #fff;
}
.avatar-block__title{
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
	color: rgba(255,255,255,.7);
}