.contacts-map{
	position: relative;
}
.about-text__avatar img{
	display: block;
	margin: 0 auto;
}
.google-map{
    width: 100%;
    height: 600px;
    position: relative;
    margin-bottom: -198px;
}