div.flip-side.flip-side--back
    div.flip-side--back__title
        //- title-dash-block
        div.title-dashes
            div.dash
                div.dash-left__line
            div.dash-text.dash-text.dash-text--h1 Авторизуйтесь
            div.dash
                div.dash-right__line
        //- end of title-dash-block        
    div.flip-side--back__form
        label.label
            i(class="fa fa-user fa-lg", aria-hidden="true")
            input.input(id="login", name="login", type="text", placeholder="Логин" required)
    div.flip-side--back__form
        label.label
            i(class="fa fa-key login-key fa-lg", aria-hidden="true")
            input.input(id="login", name="login", type="text", placeholder="Пароль" required)
    div.flip-side--back__check
        i(class="fa fa-check-square fa-lg" aria-hidden="true")
        input(type="checkbox", name="checkbox")
        label Я человек 
    div.flip-side--back__check-2 Вы точно не робот?
    div.flip-side--back__radio
        label.radio.radio-yes             
            input(type="radio",class="rad", checked="checked", name="yes")
            label(for='radio')
            span Да
        label.radio.radio-no 
            input(type="radio",class="rad", name="no")
            label(for='radio')
            span Не уверен
    ul.flip-side__nav-list
        li.flip-side__nav-item.flip-side--back__nav-item
            a.flip-side__nav-link(href="#") На главную
        li.flip-side__nav-item.flip-side--back__nav-item
            a.flip-side__nav-link(href="#") Войти 