div.flip-side.flip-side--front
    div.flip-side__avatar
        img(src = "assets/img/viking.png")
    div.flip-side__name Максим Рудик
    div.flip-side__description Личный сайт веб-разработчика
    div.flip-side__social-icons
        include ../_social-icons
    ul.flip-side__nav-list
        li.flip-side__nav-item
            a.flip-side__nav-link(href= "works.html") Мои работы
        li.flip-side__nav-item
            a.flip-side__nav-link(href= "about-me.html") Обо мне
        li.flip-side__nav-item
            a.flip-side__nav-link(href="blog.html") Блог

    