.login-button{	
	margin: 12px;
	float: right;
	width: 180px;
	height: 45px;
	border: 1px solid #fff;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	line-height: 40px;
	cursor:pointer;
	z-index: 1;
	&:hover{
		background-color:#fff;
		color: $base-green;
	}
}